-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: bpkadumum
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `agenda_ruangan`
--

DROP TABLE IF EXISTS `agenda_ruangan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `agenda_ruangan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `hari` varchar(50) NOT NULL,
  `tanggal` varchar(100) NOT NULL,
  `tempat` varchar(255) NOT NULL,
  `pukul` varchar(50) NOT NULL,
  `acara` text NOT NULL,
  `pelaksana` varchar(255) NOT NULL,
  `dihadiri` varchar(255) DEFAULT NULL,
  `status` varchar(20) DEFAULT NULL,
  `type` enum('BPKAD','PEMKOT') NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agenda_ruangan`
--

LOCK TABLES `agenda_ruangan` WRITE;
/*!40000 ALTER TABLE `agenda_ruangan` DISABLE KEYS */;
/*!40000 ALTER TABLE `agenda_ruangan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kgb_pegawai`
--

DROP TABLE IF EXISTS `kgb_pegawai`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kgb_pegawai` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nip` varchar(50) DEFAULT NULL,
  `nama` varchar(100) DEFAULT NULL,
  `golongan` varchar(20) DEFAULT NULL,
  `mkg` varchar(20) DEFAULT NULL,
  `jabatan` varchar(100) DEFAULT NULL,
  `tahun_awal` date DEFAULT NULL,
  `tahun_akhir` date DEFAULT NULL,
  `gaji` varchar(50) DEFAULT NULL,
  `unit` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=69 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kgb_pegawai`
--

LOCK TABLES `kgb_pegawai` WRITE;
/*!40000 ALTER TABLE `kgb_pegawai` DISABLE KEYS */;
/*!40000 ALTER TABLE `kgb_pegawai` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kgb_riwayat`
--

DROP TABLE IF EXISTS `kgb_riwayat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kgb_riwayat` (
  `id` int NOT NULL AUTO_INCREMENT,
  `pegawai_id` int NOT NULL,
  `nip` varchar(50) NOT NULL,
  `nama` varchar(255) NOT NULL,
  `golongan` varchar(20) NOT NULL,
  `mkg` varchar(50) DEFAULT NULL,
  `jabatan` varchar(255) NOT NULL,
  `gaji_lama` varchar(50) DEFAULT NULL,
  `gaji_baru` varchar(50) DEFAULT NULL,
  `periode_awal` varchar(50) DEFAULT NULL,
  `periode_akhir` varchar(50) DEFAULT NULL,
  `tanggal_proses` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kgb_riwayat`
--

LOCK TABLES `kgb_riwayat` WRITE;
/*!40000 ALTER TABLE `kgb_riwayat` DISABLE KEYS */;
INSERT INTO `kgb_riwayat` VALUES (21,52,'198601222010012001','Andi Haerani,SE','III/a','16 Thn','Pengadministrasi Perkantoran','3570100','3682500','2025-07-01','2027-07-01','2026-05-13 04:31:28');
/*!40000 ALTER TABLE `kgb_riwayat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sertifikat`
--

DROP TABLE IF EXISTS `sertifikat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sertifikat` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nama_penerima` varchar(255) NOT NULL,
  `penghargaan` varchar(255) NOT NULL,
  `tanggal_upload` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `foto` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sertifikat`
--

LOCK TABLES `sertifikat` WRITE;
/*!40000 ALTER TABLE `sertifikat` DISABLE KEYS */;
/*!40000 ALTER TABLE `sertifikat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('admin','user') DEFAULT 'admin',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'umumadmin','$2y$10$sAB7bf4obxE9FvF2nIsyfubfHuN7u3xc30hsfc6L3yiWfLR8NWTi.','admin','2026-03-16 06:32:32');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-03  9:26:20
